@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* App.css 或其他全局样式文件 */
.modalInput::-webkit-inner-spin-button,
.modalInput::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

input[type="color"] {
  border-radius: 5px;
  padding: 0;
  border: 5px solid #fdfdfd;
}

input[type="color"]::-moz-color-swatch {
  border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 4em;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}