@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


App.css 或其他全局样式文件
.modalInput::-webkit-inner-spin-button,
.modalInput::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

input[type="color"] {
  padding: 0;
}

input[type="color"]::-moz-color-swatch {
  border: none;
  border-radius: 5px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 4em;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 5px;
}

/* For Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


input::placeholder {
    color: rgb(170, 170, 170); /* CSS 中定义颜色可以使用颜色名、十六进制代码或者 rgb 值 */
}
